input {
    padding: 10px;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
}

.box {
    display: flex;
    margin-bottom: 15px;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 800;
    font-size: 2em;
}