.box1{
    border-style: solid;
    border-width: 2px;
   
    height: 50px;
    margin: 10px;
}

.kiste1{
    border-style: solid;
    border-width: 2px;
    
    height: 200px;
    margin: 10px;
}

.kiste2{
    border-style: solid;
    border-width: 2px;
    
    height: 200px;
    margin: 10px;
}

@media (min-width: 800px){
    .container2{
        border-style: solid;
        border-width: 2px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 20px;
        grid-column: span 2;
    }
    
    .box1{
        display: flex;
        border-style: solid;
        border-width: 2px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .container1{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(150px, auto);
        column-gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }
    
    .kiste1{
        border-style: solid;
        border-width: 2px;
        margin-left: 20px;
    }
    .kiste2{
        border-style: solid;
        border-width: 2px;
        margin-right: 20px;
    }
}