.container1 {
    display: flex;
    position: relative;
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 1px;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    width: 250px;
    height: 250px;
}

.box4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 150px;
    height: 150px;
}

.box5 {
    display: flex;
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    right: 0px;
}