.container1{
    background-color: yellow;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.box1{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(157, 157, 183);
    margin: 5px;
    top: 45px;
    right: 35px;
    border-style: solid;
    border-width: 2px;
}

.container2{
    position: relative;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 300px;
    margin: 20px;
}

.box2{
    position: absolute;
    background-color: aqua;
    height: 100px;
    width: 100px;
    bottom: 0px;
    right: 0px;
}

.header{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.list{
    position: relative;
    margin-left: 20px;
    margin-top: 5px
}

.box3{
    position: absolute;
    background-color: blue;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 0px;
}
